.laagnaam {
	margin-bottom: 5px;
	font-size: 15px !important;
	color: black;
}

h3.service-url {
	font-size: 14px !important;
	margin-bottom: 100px;
	margin-top: -5px;
	color: rgb(128, 128, 128) !important;
}

.x-btn-text {
	color: blue;
}

.documentation-content {
	/*position: absolute;
	position: relative;
	top: 34px;
	left: -198px;*/
	margin-bottom: 20px;
	margin-top: 20px;
}

.service-url {
	margin-bottom: 20px;
	font-size: 14px !important;
}

.documentation {
	font-size: 13px !important;
}

.no-padding {
	padding: 0 !important;
}

.laag {
	font-weight: normal !important;
}

.overlay {
	position: absolute;
	width: 100%;
	top: 100px;
	height: 200px;
	left: 0px;
	background-color: rgba(255, 255, 255, .85);
}

.overlay-content {
	margin-top: 70px;
	text-align: center;
}